.main{
    width: 100%;
    text-align:center;
    padding:10px;
    margin:10px 0;
    background-color: var(--darkBlue);
    justify-content: space-between;
    color: var(--white);
    margin-bottom: auto;
}

.card{

    background-color: #00c385;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    width: 120px;
    font-size: medium;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    margin-top:auto;
    
     margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */

}

#logo-img{
    width: 70px;
    float: left;
}

